* {
  margin: 0;
  padding: 0; }

.headerTop {
  display: flex;
  margin: 0 5rem; }

.header-top-left {
  display: flex;
  flex-basis: 50%; }
  .header-top-left a {
    border-radius: 50%;
    background: #b4b4b4;
    width: 2rem;
    height: 2rem;
    margin: .7rem .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .header-top-left a .fab {
      color: white; }
    .header-top-left a:hover {
      background: black; }

.header-top-right {
  margin-left: auto;
  margin-top: .7rem; }
  .header-top-right ul {
    display: flex;
    list-style: none; }
    .header-top-right ul a {
      text-decoration: none;
      display: inline-block;
      padding: .3rem; }
      .header-top-right ul a:hover {
        color: orange; }
  .header-top-right li {
    border-right: .1rem solid black; }
  .header-top-right li:last-child {
    border-right: none; }

header hr {
  border-top: .1rem solid #76586e; }

.logo-and-search {
  display: flex;
  margin: 1rem 5rem;
  align-items: center; }

.logo {
  font-size: 2.5rem; }
  .logo .logoFirst {
    color: #497d40; }

.search {
  margin-left: auto; }
  .search input[type=text] {
    padding: .5rem .5rem;
    float: left; }
  .search button[type=submit] {
    padding: .63rem .6rem;
    float: left;
    cursor: pointer;
    border: 1px solid #b9b9b9;
    border-left: none; }
    .search button[type=submit] .fa {
      display: flex;
      align-items: center;
      justify-content: center; }

nav {
  background: #76586e;
  margin: 2rem 5rem 1rem 5rem;
  border-radius: .5rem .5rem 0 0; }
  nav ul {
    display: flex;
    list-style: none; }
  nav li {
    padding: 1.5rem; }
  nav a {
    display: inline-block;
    padding: .5rem;
    text-decoration: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem; }
    nav a:hover {
      color: #ff5a00;
      text-decoration: underline; }
  nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  nav .dropdown-content a {
    color: black;
    padding: 1.5rem 1.8rem;
    text-decoration: none;
    display: block;
    text-align: left; }
  nav .dropdown-content a:hover {
    color: white;
    background-color: #76586e; }
  nav .dropdown:hover .dropdown-content {
    display: block; }

.pseudoNav {
  display: none; }

@media (max-width: 850px) {
  nav {
    display: none; }

  .pseudoNav {
    display: block;
    background: #76586e;
    margin: 2rem 5rem 1rem 5rem;
    border-radius: .5rem .5rem 0 0; }
    .pseudoNav ul {
      display: flex;
      list-style: none; }
    .pseudoNav li {
      padding: 1.5rem; }
    .pseudoNav li:last-child {
      margin-left: auto; }
    .pseudoNav a {
      display: inline-block;
      padding: .5rem;
      text-decoration: none;
      color: white;
      font-family: 'Oswald', sans-serif;
      font-family: 'Quicksand', sans-serif;
      font-size: 1.2rem; }
      .pseudoNav a:hover {
        color: #ff5a00;
        text-decoration: underline; }
    .pseudoNav button {
      padding: .4rem .5rem;
      cursor: pointer; } }
@media (max-width: 680px) {
  .headerTop {
    flex-wrap: wrap; }
    .headerTop .header-top-left {
      flex-basis: 100%;
      justify-content: center; }
    .headerTop .header-top-right {
      flex-basis: 100%; }
      .headerTop .header-top-right ul {
        justify-content: center;
        margin-bottom: .5rem; }

  .logo-and-search {
    flex-wrap: wrap;
    justify-content: flex-end; }
    .logo-and-search div {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
      padding: 1rem; } }
@media (max-width: 450px) {
  .headerTop {
    margin: .5rem; }

  .logo-and-search {
    margin: .5rem; } }

/*# sourceMappingURL=style.css.map */
