// Resetting.............
*{
	margin: 0;
	padding: 0;
}

// Coding starts.........

@mixin centeringItems{
	display: flex;
	align-items: center;
	justify-content: center;
}

.headerTop{
	display: flex;
	margin: 0 5rem;
}

.header-top-left{
	display: flex;
	flex-basis: 50%;
	a{
		border-radius: 50%;
		background: #b4b4b4;
		width: 2rem;
		height: 2rem;
		margin: .7rem .4rem;
		@include centeringItems;
		.fab{
			color: white;
		}
		&:hover{
			background: black;
		}
		text-decoration: none;
	}
}

.header-top-right{
	margin-left: auto;
	margin-top: .7rem;
	ul{
		display: flex;
		list-style: none;

		a{
			text-decoration: none;
			display: inline-block;
			padding: .3rem;
			&:hover{
				color: orange;
			}
		}
	}

	li{
		border-right: .1rem solid black;
	}
	li:last-child{
		border-right: none;
	}
}

header hr{
	border-top: .1rem solid #76586e;
}

.logo-and-search{
	display: flex;
	margin: 1rem 5rem;
	align-items: center;
}

.logo{
	font-size: 2.5rem;
	.logoFirst{
		color: #497d40;
	}
}

.search{
	margin-left: auto;
	input[type=text]{
		padding: .5rem .5rem;
		float: left;
	}
	button[type=submit]{
		padding: .63rem .6rem;
		float: left;
		cursor: pointer;
		border: 1px solid #b9b9b9;
		border-left: none;
		.fa{
			@include centeringItems;
		}
	}
}

nav{
	background: #76586e;
	margin: 2rem 5rem 1rem 5rem;
	border-radius: .5rem .5rem 0 0;
	ul{
		display: flex;
		list-style: none;
	}
	li{
		padding: 1.5rem;
	}
	a{
		display: inline-block;
		padding: .5rem;
		text-decoration: none;
		color: white;
		font-family: 'Oswald', sans-serif;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.2rem;
		&:hover{
			color: #ff5a00;
			text-decoration: underline;
		}
	}

	// For Dropdown items
	
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 16rem;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	}

	.dropdown-content a {
	  color: black;
	  padding: 1.5rem 1.8rem;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	}

	.dropdown-content a:hover {
		color: white;
		background-color: #76586e;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	}
	// Dropdown codes end
}

	.pseudoNav{
		display: none;
	}

// Media Query Starts.............................
@media (max-width: 850px){
	nav{
		display: none;
	}
	.pseudoNav{
		display: block;
		background: #76586e;
		margin: 2rem 5rem 1rem 5rem;
		border-radius: .5rem .5rem 0 0;
		ul{
			display: flex;
			list-style: none;
		}
		li{
			padding: 1.5rem;
		}

		li:last-child{
			margin-left: auto;
		}

		a{
			display: inline-block;
			padding: .5rem;
			text-decoration: none;
			color: white;
			font-family: 'Oswald', sans-serif;
			font-family: 'Quicksand', sans-serif;
			font-size: 1.2rem;
			&:hover{
				color: #ff5a00;
				text-decoration: underline;
			}
		}

		button{
			padding: .4rem .5rem;
			cursor: pointer;
		}
	}
}




@media (max-width: 680px){
	.headerTop{
		flex-wrap: wrap;
		
		.header-top-left{
			flex-basis: 100%;
			justify-content: center;
		}

		.header-top-right{
			flex-basis: 100%;
			ul{
				justify-content: center;
				margin-bottom: .5rem;
			}
		}

	}

	.logo-and-search{
		flex-wrap: wrap;
		justify-content: flex-end;
		div{
			display: flex;
			flex-basis: 100%;
			justify-content: center;
			padding: 1rem;
		}
	}

}


@media (max-width: 450px){
	.headerTop{
		margin: .5rem;
	}

	.logo-and-search{
		margin: .5rem;
	}
}